{% extends "base.html" %}

{% block content %}
<h2>Admin Dashboard</h2>

<ul>
    <li>
        <a href="/sessions/create">➕ Create New Session</a>
    </li>

    <li>
        <a href="/members">👥 View Members</a>
    </li>

    <li>
        <a href="/seva">🙏 Seva Management</a>
    </li>

    <li>
        <a href="/reports/monthly">📅 Monthly Attendance Report</a>
    </li>

    <li>
        <a href="/reports/monthly/pdf">⬇ Download Monthly Report (PDF)</a>
    </li>
    <li><a href="/sessions">📅 Session History</a></li>

</ul>



{% endblock %}
